#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

td {
  border: black solid 1px;
  width: 100px;
  height: 100px;
}

.selected {
  background-color: yellow;
}

.answer {
  background-color: orange;
}